//colors
$base: #142637;
$primary: #f9d640;
$light: #ffffff;
$light-70: #ffffff70;
$light-40: #ffffff40;
$light-10: #ffffff10;
$danger: #ff4004;
$bg-color: #0c151d;
$bg-color-light: #e5e5e5;
$heading-dark: #f1f2f4;
$heading-light: #3d3d3d;
$text-dark: #a3abb2;
$text-light: #575757;
$btn-light: #d7d7d7;

//border radius
$borderRadius: 5px;
