//colors
$base: #142637;
$primary: #f9d640;
$light: #ffffff;
$light-70: #ffffff70;
$light-40: #ffffff40;
$light-10: #ffffff10;
$danger: #FF4004;
$bg-color: #0C151D;
$bg-color-light: #E5E5E5;
$heading-dark: #F1F2F4;
$heading-light: #3D3D3D;
$text-dark: #A3ABB2;
$text-light: #575757;
$btn-light: #D7D7D7;

//border radius
$borderRadius: 5px;