$base: #142637;
$primary: #f9d640;
$light: #ffffff;
$light-70: #ffffff70;
$light-40: #ffffff40;
$light-10: #ffffff10;
$danger: #FF4004;
$bg-color: #0C151D;
$heading-dark: #F1F2F4;
$text-dark: #A3ABB2;

$borderRadius: 10px;