@use 'functions' as f;
@use 'variables' as v;

*{
  box-sizing: border-box;
}

.x-large{
  font-size: f.rem(48);
  line-height: f.rem(72);
}

.large{
  font-size: f.rem(32);
  line-height: f.rem(48);
}

.normal{
  font-size: f.rem(21);
  line-height: f.rem(32);
}

.small{
  font-size: f.rem(16);
  line-height: f.rem(24);
}

img{
  width: 100%;
  display: block;
}

p{
  color: v.$text-dark;
}

body, h1, h2, h3, p, li, ul, a{
  margin: 0px;
  padding: 0px;
}

.btn{
  border: none;
  background-color: v.$primary;
  border-radius: v.$borderRadius;
  font-size: f.rem(16);
  width: f.rem(158);
  height: f.rem(44);
  font-family: 'Poppins';
  cursor: pointer;

  &.dark-btn{
    background-color: v.$base;
    color: v.$text-dark;
  }
}

body{
  background-color: v.$bg-color;
  font-family: 'Poppins', sans-serif;
  color: v.$heading-dark;
  padding: 10px;
  &::-webkit-scrollbar{
    background-color: darken(v.$bg-color, $amount: 3%);
  }
  &::-webkit-scrollbar-thumb{
    background-color: v.$base;
    border-radius: 5px;

    &:hover{
      background-color: darken(v.$base, 3%);
    }
  }
  @media screen and (min-width:768px) {
    padding: 10px 30px;
  }

  .header{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__dark-toggle{
      width: 48px;
      height: 48px;
      background-color: v.$base;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 30px;

      & svg{
        width: 25px;
      }
    }

    &__hero{
      display: flex;
      flex-direction: column;
      align-items: center;
      
      img{
        overflow: hidden;
        background-color: v.$primary;
        width: 107px;
        height: 107px;
        border-radius: 50%;
        margin-bottom: 48px;
        display: flex;
        box-shadow: 0px 0px 0px 4px v.$base ,0px 0px 0px 8px v.$primary;
      }

      .info{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }

      .social{
        display: flex;
        gap: 26px;
        margin-bottom: 30px;

        & svg{
          cursor: pointer;
        }
      }
    }

    &__links{
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 14px;
      margin-bottom: 48px;
    }
  }

  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    @media screen and (min-width: 1024px) {
      max-width: 800px;
      margin: 0 auto;
    }

    &__tab-buttons{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 9px;
      background-color: v.$base;
      padding: 10px;
      border-radius: v.$borderRadius;

      .btn{
        background-color: v.$base;

        &.active{
          background-color: v.$bg-color;
        }
      }
    }

    &__grid{
      
      .portfolio{
        display: none;
        grid-template-columns: 1fr;
        gap: 30px;
        // width: 0px;
        // height: 0px;
        // visibility: hidden;
        @media screen and (min-width:768px) {
          grid-template-columns: repeat(2,1fr);
        }
        &.active{
          display: grid;
          // width: unset;
          // height: unset;
          // visibility: visible;
        }

        .item{
          overflow: hidden;
          position: relative;
          border-radius: v.$borderRadius;
          
          img{
            border-radius: v.$borderRadius;
          }
  
          .text{
            width: 110%;
            position: absolute;
            bottom: 11px;
            left: -20px;
            background-color: transparentize(v.$base, $amount: 0.09);
            transform: rotate(-3deg);
            padding: 5px 30px;
            overflow: hidden;
            text-align: center;
  
            h3{
              color: v.$primary;
              text-transform: capitalize;
            }
          }
        }
      }

      .skill{
        display: none;
        justify-content: center;
        gap: 30px;
        &.active{
          display: grid;
        }

        .item{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          padding: 20px;
          & svg{
            width: 50px;
          }

          h2{
            text-transform: uppercase;
          }

          p{
            text-align: center;
            font-size: f.rem(14);
            line-height: 1.4;
            max-width: 50ch;
          }
        }
      }
    }
  }

  .footer{
    padding: 10px 0px;
    p{
      margin-top: 30px;
      text-align: center;
    }
  }
}
